<div class="w3-display-container col-md-6">
  <%= image_tag (@photo.image), class:"w3-display-middle w3-large", style: 'height:265px;width:471px;'%>
  <figcaption><%= @photo.title%></figcaption>
</div>


<style=>
